<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/clients/">Game</a></li>
                {% if not user.is_authenticated %}
                <li><a href="/users/register">Sign Up</a></li>
                <li><a href="/users/login"><span class="ti-user"></span> Login</a></li>
                {% else %}
                <li class="active"><a href="/users/profile"><span class="ti-settings"></span> Profile</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

