{% extends "crowdhub/base.html" %}
{% block content %}

<div ng-app="crowdhub" ng-controller="tasksCtrl">
    <table class="table table-striped">
        <tr ng-repeat="task in TasksList">
            <td>[[task.id]]</td>
            <td>[[task.task_name]]</td>
            <td>[[task.created | date : "dd MM yyyy"]]</td>
            <td>
                <a href="/tasks/[[task.id]]"><div class='btn btn-primary'>Start</div></a>
            </td>
        </tr>
    </table>
</div>

{% load static %}
<script src="{% static 'tasks/js/services.js' %}"></script>
<script src="{% static 'tasks/js/controller.js' %}"></script>

{% endblock %}
